<!-- Section -->
<section>
    <header>
        <h2>Entre em contato</h2>
    </header>
    <div class="content">
        <p>Por que você está parado? Há mais de 6 anos o <strong>DeadOrMonster</strong> acontece todas as segundas-feiras, as <strong>20:00</strong>, no <strong>Parque da Jaqueira</strong>, Recife/PE e já impactou a vida de  centenas de pessoas positivamente.</p>
        <p>* Atualmente nos encontramos no perfil do Instagram ao vivo, as 20:00, todas as segundas feiras (no mesmo dia e horário de sempre).</p>
        <span class="image main"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pic03.jpg" alt="" /></span>
        <p><strong> Gostaria de receber conteúdo exclusivo durante 30 dias gratuitamente? Clique abaixo e prepare-se para resgatar diversas capacidades naturais!</strong></p>
        <ul class="actions">
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdpQwsbtq4CbLLUjhhxoXOMjN7wl8eNDuxMdgVr4KoDbklwkw/viewform?usp=sf_link" class="button primary large">Pesquisa</a></li>
        </ul>
    </div>
    <footer>
        <ul class="items">
            <li>
                <h3>Email</h3>
                <a href="mailto:somosmuitos@deadormonster.com.br">somosmuitos@deadormonster.com.br</a>
            </li>
            <li>
                <h3>Telefone</h3>
                <a href="https://api.whatsapp.com/send?phone=5581999398559">+55 (81) 99939-8559</a>
            </li>
            <li>
                <h3>Em outros os lugares</h3>
                <ul class="icons">
                    <li><a href="http://www.facebook.com/deadormonster" class="icon brands fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="http://www.instagram.com/deadormonster" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                </ul>
            </li>
        </ul>
    </footer>
</section>

<!-- Copyright -->
<div class="copyright">&copy; deadormonster . 2020 . todos os direitos reservados</div>
