<!-- Section -->
<section id="first">
    <header>
        <h2>TEU TREINO TREINA O QUÊ?</h2>
    </header>
    <div class="content">
        <p>Sabendo que o movimento é uma necessidade biológica, nós do <strong>DeadOrMonster</strong> temos a missão de empreender movimento na vida das pessoas de maneira simples, acessível e democrática. Fomos feitos para o movimento, mova-se!</p>
        <span class="image main"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/pic02.jpg" alt="" /></span>
    </div>
</section>
