<!-- Section -->
<section>
    <header>
        <h2>FILOSOFIA DO DEAD.OR.MONSTER</h2>
    </header>
    <div class="content">
        <p><strong>Regras</strong> simples. Nullam venenatis erat id vehicula ultrices sed ultricies condimentum.</p>
        <ul class="feature-icons">
            <li class="icon solid fa-tint">LEVE SUA ÁGUA!</li>
            <li></li>
            <li class="icon solid fa-angry">NÃO RECLAME!</li>
            <li></li>
            <li class="icon solid fa-skull">NÃO MORRA NO PRIMEIRO DIA!</li>
        </ul>
        <p>Vehicula ultrices sed ultricies condimentum. Magna sed etiam consequat, et lorem adipiscing sed nulla. Volutpat nisl et tempus et dolor libero, feugiat magna tempus, sed et lorem adipiscing.</p>
    </div>
</section>
